h1{
    text-align: center;
    color: blue;
    font-family: Lato;
    font-weight: 300;
    text-decoration-style: solid;
    
}


.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 696px;
  height: 270px;
  
}

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 stretch;
}

