h1{
    text-align: center;
}

h2{
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    background-color: rgb(95, 90, 90)
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
}